.heading {
    text-align: center;
    margin: 5rem auto 2rem auto;
}

.title {
    font-size: 2.25rem;
    font-weight: 900;
  }
  
  .number {
    color: $clr-white;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    height: 50px;
    width: 50px;
    background: $clr-gold;
    border-radius: 70%;
    padding-top: 6.5px;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  h1 {
    font-size: 1.15rem;
    margin-top: 1rem;
  }
  
  h2 {
    font-size: 1.15rem;
  }
  
  .album {
    padding: 1rem 1rem;
  }
  
  .albumart {
    -webkit-box-shadow: 9px 14px 15px -3px rgba(0,0,0,0.5); 
    box-shadow: 9px 14px 15px -3px rgba(0,0,0,0.5);
  }
  
  .card img {
    max-width: 100%;
    height: 320px;
    object-fit:cover;
  }

  .arrow {
    margin: 2rem 0 3rem;
    text-align: center;
  }
  
  .arrow a {
    font-weight: 700;
    text-decoration: none;
  }
  
  .fa-arrow-up {
    color: $clr-red;
    font-size: 2rem;
  }